---
import { localizations } from '../../scripts/localizations.js';
import playVideoSvg from '../../images/main/play-video.svg';
import mainPng from '../../images/main/main.png';
import { Picture } from 'astro:assets';

const lang: keyof Object = import.meta.env.PUBLIC_LOCAL;
const ctn = localizations.main;
---

<section class="main mt-[16px]">
  <div class="main-container">
    <div class="wrapper flex">
      <div class="main-left">
        <div class="main-welcome"><span>{ctn.welcome[lang]}</span></div>
        <div class="main-title mt-[24px]">{ctn.title[lang]}</div>
        <div class="main-text mt-[24px]">{ctn.text[lang]}</div>
        <div class="mt-[40px] flex">
          <div class="main-button main-button_watch mr-[24px]">
            <div>
              <img src={playVideoSvg.src} alt={ctn.alt.playVideo[lang].toString()} />
            </div>
            <span>
              {ctn.watchIntegration[lang]}
            </span>
          </div>
          <div class="main-button main-button_get-started">{ctn.getStarted[lang]}</div>
        </div>
      </div>
      <div class="main-right">
        <Picture
          src={mainPng}
          formats={['avif', 'webp']}
          alt={ctn.alt.mainPng[lang].toString()}
          class="main-picture"
          width={mainPng.width / 2}
          densities={[1.5, 2]}
          loading="eager"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .main {
    width: auto;
    height: 600px;
    padding: 0 16px;
    &-container {
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background: linear-gradient(253deg, #fddee5 10.69%, #dbe7f8 50.6%, #f5e5df 89.72%);
    }
    &-left {
      width: 45%;
      padding: 112px 0;
    }
    &-welcome {
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      width: auto;
      // toDo: Растягивать по контенту
      max-width: 238px;
      padding: 4px 12px;
      border-radius: 4px;
      background: $white;
      font-size: 14px;
      line-height: 22px;
    }
    &-title {
      max-width: 300px;
      color: $black-100;
      font-weight: 700;
      font-size: 64px;
      line-height: 70px;
    }
    &-text {
      max-width: 600px;
      font-size: 18px;
      line-height: 30px;
    }
    &-button {
      display: flex;
      align-items: center;
      padding: 16px 28px;
      gap: 8px;
      border-radius: 100px;
      font-weight: 500;
      line-height: 26px;
      cursor: pointer;
      &_watch {
        background: $black-100;
        color: $white;
      }
      &_get-started {
        border: 1px solid $gray-60;
        border-radius: 100px;
      }
    }
    // Здесь нужно подумать как слева оторабажать отступ по wrapper-у, а картинка должна прилепляться к правому краю
    &-right {
      width: 50%;
    }
    &-picture {
      padding-top: 50px;
      transform: translateX(100px);
    }
  }
</style>

<script></script>
